@CHARSET "UTF-8";

#timer{
	height: 40px;
	font-size: 25px;
	color: #a6baec;
}

#question{
	background-color: #a6baec;
	font-size: 40px;
	height: 100px;
	padding-top: 40px;
}

#answers{
	font-size: 25px;
}
.answer{
	height: 60px;
	padding-top: 25px;
}